* {
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

/* button */
.btn-primary {
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;

}

/* banner  styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.header {
    background: #FFF8F3;
    background-repeat: no-repeat;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-position: bottom right, left;

}

/* main section */
main {

    max-width: 1140px;
    margin: 150px auto;
}

/* about section */
.about {
    background: #FFF8F3;
    padding: 130px 150px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do styles */
.what-i-do {
    margin-top: 130px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.what-i-do-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.i-do {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 50px;
}

/*  */
.skill-set {
    margin: 0, 230px;
    text-align: center;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;

}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* resume related style */
.resume-content {
    display: flex;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.r-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;

}

.CV-button {
    margin-top: 50px;
    text-align: center;
}

.contact {
    display: flex;
    gap: 150px;
    background: #FFF8F3;
}

.connect {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}